.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size:21px;
    min-width: 1200px;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr {
    background-color: #4caf50;
    color:whitesmoke;
    text-align: center;
    font-weight: bold;
    
}
.content-table th
.content-table td {
    padding: 20px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.content-table tbody tr.active-row{
    font-weight: bold;
    color: whitesmoke;
}
.content-table2{
    font-size:25px;
    min-width: 800px;
    
}
.content-table2 tr {
  
    text-align: center;
}

